$background-url-dev: url("http://localhost:5173/catalog-zl/imgs/bg.png");
$background-url-prod: url("https://2023-cda-alt-devops-p4.github.io/catalog-zl/imgs/bg.png");

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-image: $background-url-prod;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.dev {
    background-image: $background-url-dev;
}

.container {
    max-width: 900px;
    margin: 45px auto;
    outline: 18px solid rgba(255, 255, 255, 0.2);
    padding: 2.5em;
    background-color: #E5E7E6;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* Bannière */

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12vh;
    /* background: radial-gradient(circle, #5e2b0f 0%, #93441a 100%); */
}

/* .banner-right {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden
}

.banner-right:before {
    content: "";
    width: 300px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -60px;
    top: 0;
    border-radius: 4px;
    -webkit-transform: skew(25deg, -10deg);
    transform: skew(25deg, -10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.banner-right:after {
    content: "";
    width: 150px;
    height: 600px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    right: 0px;
    top: 30px;
    border-radius: 6px;
    -webkit-transform: skew(25deg, 10deg);
    transform: skew(25deg, 10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.banner-left {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden
}

.banner-left:before {
    content: "";
    width: 300px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: -90px;
    top: 0;
    border-radius: 6px;
    -webkit-transform: skew(25deg, -12deg);
    transform: skew(25deg, -12deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.banner-left:after {
    content: "";
    width: 150px;
    height: 600px;
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    left: 0px;
    top: 30px;
    border-radius: 4px;
    -webkit-transform: skew(-25deg, 10deg);
    transform: skew(-25deg, 10deg);
    -webkit-transform-origin: top left;
    transform-origin: top left
} */

/* Fin bannière */

.title {
    color: #005e62;
    font-size: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1.5em;
}

.subtitle {
    color: #005e62;
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.description {
    text-align: justify;
    padding: 1em 0;
}

.bold {
    font-weight: bold;
}

.presentation {
    display: flex;
    justify-content: space-between;


}

.presentation>img {
    height: 250px;
}

@media screen and (max-width: 990px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 45px 18px;
        padding: 2.5em 1.5em;
    }

    .title {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .presentation>img {
        display: none;
    }
}